{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}
	Hello World
	{% endtrans %}
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>{{ "page.h1" | trans }}</h1>
		<p>{{ "page.p1" | trans }}</p>
		<img src="{{ asset('img/cat.gif') }}" alt="">
		{% for game in games %}
			<div class="game">
				<h2 class='g-name'>{{ game.name }}</h2>
				<p>{{ game.description }}</p>
				<p>Stock restant :
					{{ game.stock }}</p>
				{% for image in game.gameImages|slice(0, 6) %}
					<img src="{{ image.file }}" alt="{{ image.name }}">
				{% endfor %}
				<a class="link" href="{{ path('game', {slug: game.slug}) }}">{{ "page.button" | trans }}</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
